<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
    <title>Manage Employees | STEAM IMS</title>
    <!-- Favicon Icon -->
    <link href="/resources/images/icon-sq.png" rel="icon" type="image/png" />
    <!-- Bootstrap CSS File-->
    <link href="/resources/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Jquery Js File -->
    <script src="/resources/jquery/jquery.min.js"></script>
    <!-- Boostrap Js File -->
    <script src="/resources/bootstrap-5.2.3/js/bootstrap.bundle.js"></script>
    <!-- Fontawesome Js Plug-in -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/07941f149f.js"></script>
    <!-- DateRangePicker Library -->
    <script src="/resources/daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="/resources/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <link href="/resources/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <!-- Chosen Library-->
    <script src="/resources/chosen-1.8.7/chosen.jquery.min.js" type="text/javascript"></script>
    <link href="/resources/chosen-1.8.7/chosen.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom CSS File-->
    <link href="/resources/css/customCRM.css" rel="stylesheet" />
</head>
<body>
<!-- Nav Bar Start -->
<nav class="navbar navbar-expand-lg bg-purple p-1">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="Dashboard"><span class="text-uppercase fw-semibold">Inquiry Management System</span> : : STEAM</a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon" style="filter: invert(100%)"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <!-- Navbar left side (Default)-->
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item"><a class="nav-link text-white custom-width-max-content" href="Administrations">Administration</a>
                </li>
            </ul>
            <!-- Navbar Right side -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link text-white custom-width-max-content" href="">Sources</a></li>
                <li class="nav-item"><a class="nav-link text-white custom-width-max-content" href="">Commission</a></li>
                <li class="nav-item"><a class="nav-link text-white custom-width-max-content custom-active" href="">Employees</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white custom-width-max-content " href="">Users</a></li>
                <li class="nav-item"><a class="nav-link text-white custom-width-max-content" href="">Privileges</a></li>
                <li class="nav-item dropdown-center custom-width-max-content p-0">
                    <button aria-expanded="false"
                            class="nav-link btn bg-steam-green text-white dropdown-toggle custom-width-max-content border-0"
                            data-bs-toggle="dropdown">Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end rounded-0">
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!-- Nav Bar End -->

<!-- Display Current Page /breadcrumbs -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Manage Employees</h5>
</div>


<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body rounded-0">
            <div class="row align-items-center d-flex justify-content-around">
                <div class="col-12 col-lg-4 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1">
                    <label class="text-uppercase small m-0 p-0 text-muted" for="employeeSearchID">Search</label>
                    <div class="input-group">
                        <span class="input-group-text bg-custom-white rounded-0"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                        <input class="form-control rounded-0" id="employeeSearchID"
                               placeholder="Employee ID, Mobile Number or NIC">
                        <div class="d-flex align-items-center justify-content-evenly">
                            <button class="btn bg-purple rounded-0 text-white"  type="submit"><i
                                    class="fa-solid fa-magnifying-glass small"></i></button>
                            <button class="btn btn-close-red rounded-0 text-white ms-3" id="btn-reset" type="reset"><i
                                    class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 p-0 mx-lg-1 mx-sm-0 m-lg-0 mt-1 text-end">
                    <p class="text-uppercase small m-0 p-0 text-muted">Add a new Employee</p>
                    <button class="btn pointer bg-purple text-white rounded-0 text-end" data-bs-toggle="offcanvas"
                            data-bs-target="#offCanvasEmployee" aria-controls="staticBackdrop"><i
                            class="fa-solid fa-plus"></i> Employee
                    </button>
                </div>

            </div>
        </div>
        <div class="card-footer pt-4 pb-4">
            <h4 class="text-center fw-bold"
                style="font-family: Arial,serif;text-transform: uppercase;font-size: medium">Search Employee Info /
                <small class="text-muted">No records</small></h4>
            <table class="custom-table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Employee ID</th>
                    <th>Full Name</th>
                    <th>NIC</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Designation</th>
                    <th>Status</th>
                    <th>User Account</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>EMP0001</td>
                    <td>Malindu Prabodhitha</td>
                    <td>983151108V</td>
                    <td>eamalindu@gmail.com</td>
                    <td>076-8008003</td>
                    <td>Manager</td>
                    <td><i class="fa-solid fa-user-check text-success bg-custom-white p-2 rounded-circle"
                           title="Employee Working"></i></td>
                    <td><i class="fa fa-check-circle text-success fs-3"></i></td>

                    <td class="fw-bold text-purple">View</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>EMP0001</td>
                    <td>Malindu Prabodhitha</td>
                    <td>983151108V</td>
                    <td>eamalindu@gmail.com</td>
                    <td>076-8008003</td>
                    <td>Manager</td>
                    <td><i class="fa-solid fa-user-slash text-warning bg-custom-white p-2 rounded-circle"
                           title="Employee Suspended"></i></td>
                    <td><i class="fa fa-xmark-circle text-danger fs-3"></i></td>
                    <td class="fw-bold text-purple">View</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>EMP0001</td>
                    <td>Malindu Prabodhitha</td>
                    <td>983151108V</td>
                    <td>eamalindu@gmail.com</td>
                    <td>076-8008003</td>
                    <td>Manager</td>
                    <td>
                        <i class="fa-solid fa-user-xmark fa-solid fa-user-xmark text-danger bg-custom-white p-2 rounded-circle"
                           title="Employee Resigned"></i></td>
                    <td><i class="fa fa-xmark-circle text-danger fs-3"></i></td>

                    <td class="fw-bold text-purple"><button data-bs-toggle="offcanvas" data-bs-target="#offcanvasEmployeeSheet" aria-controls="staticBackdrop">View</button></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="w-100 d-flex align-items-center justify-content-center gap-3 mx-auto mt-2">
        <p><i class="fa-solid fa-user-check text-success bg-custom-white p-2 rounded-circle"
              title="Employee Working"></i> <span class="text-muted small"> - Working</span></p>
        <p><i class="fa-solid fa-user-xmark text-danger bg-custom-white p-2 rounded-circle"
              title="Employee Resigned"></i> <span class="text-muted small"> - Resigned</span></p>
        <p><i class="fa-solid fa-user-slash text-warning bg-custom-white p-2 rounded-circle"
              title="Employee Suspended"></i> <span class="text-muted small"> - Suspended</span></p>

    </div>
</div>

<!-- Off canvas for employee add start-->
<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="offCanvasEmployee"
     aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header bg-light">
        <div>
            <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0" data-bs-dismiss="offcanvas" type="button"><i class="fas fa-times"></i></button>
            <button class="btn btn-sm bg-secondary text-white rounded-0" type="button"><i class="fas fa-refresh"></i></button>
        </div>
        <h3 class="float-end" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">New Employee</h3>
    </div>
    <div class="offcanvas-body">
        <div class="card border-0">
            <div class="card-body border-0">
                <form onsubmit="return false">
                    <div class="mb-3">
                        <img src="" id="imgProfile" class="placeholder-image img-thumbnail rounded-0 mx-auto d-block" alt="...">
                    </div>
                    <div class="mb-2">
                        <label for="employeeProfile" class="form-label fw-bold small required">Profile Photo</label>
                        <input class="form-control rounded-0 small newEmployeeInputs" type="file" id="employeeProfile" accept="image/png, image/jpeg" required>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold required small" for="employeeFullName">Full Name</label>
                        </div>
                        <input class="form-control rounded-0 newEmployeeInputs" id="employeeFullName" required>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold required small" for="employeeCallingName">Calling Name</label>
                        </div>
                        <input class="form-control rounded-0 newEmployeeInputs" id="employeeCallingName" required>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold required small" for="employeeNIC">NIC Number</label>
                        </div>
                        <input class="form-control rounded-0 newEmployeeInputs" id="employeeNIC" required>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold required small" for="employeeDOB">Date of birth</label>
                        </div>
                        <input class="form-control rounded-0 newEmployeeInputs" id="employeeDOB" required type="text">
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold required small">Gender</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input newEmployeeInputs" id="employeeGenderMale" name="employeeGender" type="radio"
                                   value="Male">
                            <label class="form-check-label" for="employeeGenderMale"  style="font-size: 13px">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input newEmployeeInputs" id="employeeGenderFemale" name="employeeGender" type="radio"
                                   value="Female">
                            <label class="form-check-label" for="employeeGenderFemale" style="font-size: 13px">Female</label>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold required small" for="employeeEmail">Email Address</label>
                        </div>
                        <input class="form-control rounded-0 newEmployeeInputs" id="employeeEmail" required type="email">
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold required small" for="employeeMobile">Mobile Number</label>
                        </div>
                        <input class="form-control rounded-0 newEmployeeInputs" id="employeeMobile" required type="text">
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small" for="employeeLand">Land Number</label>
                        </div>
                        <input class="form-control rounded-0 newEmployeeInputs" id="employeeLand" required type="text" placeholder="Optional">
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="employeeAddress">Address</label>
                        </div>
                        <input class="form-control rounded-0 newEmployeeInputs" id="employeeAddress" required type="text">
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="employeeCivilStatus">Civil Status</label>
                        </div>
                        <select class="form-select rounded-0 newEmployeeInputs" id="employeeCivilStatus" required>
                            <option>Static Value 1</option>
                            <option>Static Value 2</option>
                            <option>Static Value 3</option>
                            <option>Static Value 4</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="employeeDesignation">Designation</label>
                        </div>
                        <select class="form-select rounded-0 newEmployeeInputs" id="employeeDesignation" required>
                            <option>Dynamic Value 1</option>
                            <option>Dynamic Value 2</option>
                            <option>Dynamic Value 3</option>
                            <option>Dynamic Value 4</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="fw-bold small required" for="employeeStatus">Employee Status</label>
                        </div>
                        <select class="form-select rounded-0 newEmployeeInputs" id="employeeStatus" required>
                            <option>Dynamic Value 1</option>
                            <option>Dynamic Value 2</option>
                            <option>Dynamic Value 3</option>
                            <option>Dynamic Value 4</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">
                            <label class="fw-bold small" for="employeeNote">Note</label>
                        </div>
                        <textarea class="rounded-0 form-control newEmployeeInputs" cols="80" id="employeeNote" placeholder="Optional" rows="4"></textarea>
                        <div class="text-muted small"><small> a short description which will be useful for the
                            counsellor who will be handling this inquiry</small></div>
                    </div>
                    <div class="mb-2">
                        <button class="btn bg-purple text-white rounded-0 btn-block w-100" id="inquiryConfirm" type="submit">Confirm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Off canvas for employee add end-->

<!-- Off canvas for employee details start-->
<div aria-labelledby="offcanvasRightLabel" class="offcanvas offcanvas-end w-50" data-bs-backdrop="static"
     id="offcanvasEmployeeSheet" tabindex="-1">
    <div class="offcanvas-header bg-light">
        <button aria-label="Close" class="btn btn-sm btn-danger btn-close-red rounded-0" data-bs-dismiss="offcanvas"
                type="button"><i class="fas fa-times"></i></button>
        <div class="container d-flex gap-3 ms-1" style="width: 55%">
            <button class="btn btn-sm bg-info rounded-0 text-white"><i class="fa-regular fa-pen-to-square"></i> Edit Info </button>
            <button class="btn btn-sm bg-warning rounded-0 text-white"><i class="fa-solid fa-arrows-rotate"></i> Update </button>
        </div>
        <h3 class="align-items-center" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;">Employee Details <span>#EMP001</span></h3>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid text-end mb-2 px-0 d-flex align-items-center">
            <div class="text-center w-75 me-5">
                <span class="align-items-center display-3 text-danger" style="text-transform: uppercase;font-weight: bold;font-family: Arial, serif;">Kasun</span>
                <p class="text-muted small lh-sm">Joined On 2023-11-10</p>
            </div>
            <img src="resources/images/sample_profile_1.png" class="placeholder-image img-thumbnail rounded-0">
        </div>
        <table class="table table-bordered table-responsive ">
            <tbody class="small align-middle">
            <tr>
                <td class="fw-bold w-25">Full Name</td>
                <td class="w-25"><input class="small rounded-0 form-control-sm border-0" readonly value="Kasun Malhara"></td>
                <td class="fw-bold w-25">Calling Name</td>
                <td><input class="small rounded-0 form-control-sm border-0" readonly value="Kasun"></td>
            </tr>
            <tr>
                <td class="fw-bold w-25">NIC Number</td>
                <td class="w-25"><input class="small rounded-0 form-control-sm border-0" readonly value="983151108V">
                </td>
                <td class="fw-bold w-25">Date of Birth</td>
                <td><input class="small rounded-0 form-control-sm border-0" readonly value="1998-11-10"></td>
            </tr>
            <tr>
                <td class="fw-bold w-25">Gender</td>
                <td class="w-25">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="employeeGender" type="radio" value="Male" checked disabled >
                        <label class="form-check-label opacity-100" for="employeeGenderMale">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input"  name="employeeGender" type="radio" value="Female" disabled>
                        <label class="form-check-label opacity-100" for="employeeGenderFemale">Female</label>
                    </div>
                </td>
                <td class="fw-bold w-25">Email Address</td>
                <td><input class="small rounded-0 form-control-sm border-0" readonly value="eamalindu@gmail.com"></td>
            </tr>
            <tr>
                <td class="fw-bold w-25">Mobile Number</td>
                <td class="w-25">
                    <input class="small rounded-0 form-control-sm border-0" readonly value="0768008003">
                </td>
                <td class="fw-bold w-25">Land Number</td>
                <td><input class="small rounded-0 form-control-sm border-0" readonly value="0768008003"></td>
            </tr>
            <tr>
                <td class="fw-bold w-25">Address</td>
                <td class="" colspan="3">
                    <input class="small rounded-0 form-control-sm border-0 w-100" readonly value="No: 9/3, Kaththota, Nittambuwa">
                </td>

            </tr>
            <tr>
                <td class="fw-bold w-25">Civil Status</td>
                <td class="">
                    <input class="small rounded-0 form-control-sm border-0 w-100" readonly value="Single">
                </td>
                <td class="fw-bold w-25">Designation</td>
                <td class="">
                    <input class="small rounded-0 form-control-sm border-0 w-100" readonly value="Manager">
                </td>
            </tr>
            <tr>
                <td class="fw-bold w-25">Note</td>
                <td class="" colspan="3">
                    <input class="small rounded-0 form-control-sm border-0 w-100" readonly value="" placeholder="Optional">
                </td>

            </tr>
            <tr>
                <td class="fw-bold w-50 text-center" colspan="2">Employee Status</td>
                <td class="" colspan="3">
                    <input class="small rounded-0 form-control-sm border-0 w-100 text-center" readonly value="Working" >
                </td>

            </tr>
            </tbody>
        </table>

    </div>
</div>
<!-- Off canvas for employee details end-->

<script>
    const employeeProfileInput = document.getElementById("employeeProfile");
    const imgProfile = document.getElementById("imgProfile");

    employeeProfileInput.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                imgProfile.src = e.target.result;
                imgProfile.classList.add('bg-success')
            };

            reader.readAsDataURL(file);
        } else {
            // Handle the case where no file is selected (e.g., clear the image preview)
            imgProfile.src = "";
        }
    });

</script>
<script src="/resources/js/external-validator.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-table.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/CRM/employee.js" type="text/javascript"></script>
</body>
</html>