<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Forget Password | Steam RMS</title>
    <!-- Favicon Icon -->
    <link href="resources/images/icon-sq.png" rel="icon" type="image/png">
    <link href="resources/css/custom.css" rel="stylesheet">
    <!-- Bootstrap CSS file-->
    <link href="resources/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Jquery Js File -->
    <script src="resources/Jquery/jquery.min.js"></script>
    <!-- Boostrap Js File -->
    <script src="resources/bootstrap-5.2.3/js/bootstrap.bundle.js"></script>
    <!-- Fontawesome Js Plug-in -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/07941f149f.js"></script>

</head>
<body>
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="custom-login-form-container">
        <div class="container-fluid text-center p-2">
            <a href="/steam-bootstrap/"><img class="w-25 mb-2" src="resources/images/logo-sq.png" alt="logo"></a>
            <h3 class="text-dark fw-bold">STUDENT REGISTRATION</h3>
            <h5 class="text-dark fw-bold">Password Reset</h5>
        </div>
        <div class="custom-login-form mt-2 p-2 rounded-3">
            <div class="login-card p-2">
                <form method="post">
                    <label class="text-dark" for="email">Enter Your Email Address</label>
                    <input class="custom-input-fields mt-2" id="email" name="email" placeholder="&#xf0e0; example@domain.com" required type="text">
                    <input class="custom-input-fields mt-3 bg-primary w-auto text-white" name="btnLogin" type="submit" value="Send Password Reset Link" id="btnLogin">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="resources/js/app.js"></script>
</body>
</html>